<%- include("partials/header.ejs") %>

<h1>Edit a post:</h1>

<div class="single_post-container">
  <form action="/edit-post/:postId" method="POST">
    <!-- Hidden to store index of post being edited -->
    <input type="hidden" name="index" value="<%= index %>" />

    <div id="edit_add-container">
      <div>
        <input
          type="text"
          name="title"
          placeholder="Title"
          value="<%= post.title %>"
          required
        />
      </div>
      <div>
        <textarea
          type="text"
          name="content"
          placeholder="Write your post here..."
          required
        >
<%= post.content %></textarea
        >
      </div>
      <!-- TODO: add -> minlength="150" | REMOVED for testing purposes -->
      <div>
        <input
          type="text"
          name="author"
          placeholder="Author"
          value="<%= post.author %>"
          required
        />
      </div>

      <div>
        <a href="/">Cancel</a>
        <button type="submit" value="Save post">Save Post</button>
      </div>
    </div>
  </form>
</div>

<%- include("partials/footer.ejs") %>
