<%- include('partials/header.ejs') %>

<div class="single_post-container blue-container">
  <div>
    <div><a href="/">Back to Homepage</a></div>
  </div>
  <h1><%= posts[index].title %></h1>
  <p><%= posts[index].content%></p>
  <br />
  <p>By <%= posts[index].author%></p>
</div>

<div id="capybara-viewpage">
  <img src="/images/Capybara.png" alt="capybara drawing" />
  <div>
    <p>You made it.</p>
  </div>
</div>
<%- include('partials/footer.ejs') %>
