<%- include('partials/header.ejs') %>

<!-- [ ]: Add image 
<div>
  <div>
    <img src="" alt="" />
  </div>
</div>
-->

<div class="single_post-container">
  <div>
    <div><a href="/">Back to Homepage</a></div>
  </div>
  <h1><%= posts[index].title %></h1>
  <p><%= posts[index].content%></p>
  <br />
  <p>By <%= posts[index].author%></p>
</div>

<%- include('partials/footer.ejs') %>
